---
title: "Gear Reviews"
layout: default
permalink: "/gear-reviews.html"
---

<div class="row justify-content-center">
  <div class="col-md-8">
  <h1 class="font-weight-bold title h6 text-uppercase mb-4">Categories</h1>
  {% for category in site.categories %} 
        <h4 class="font-weight-bold spanborder text-capitalize" id="cycling"><span>{cycling}</span></h4>
            
        {% assign pages_list = cycling %}
        {% for post in pages_list %}
        {% if post.title != null %}
          {% if group == null or group == post.group %}

<small class="d-block text-muted">
		In <span class="catlist">
		{% for category in post.categories %}
		<a class="text-capitalize text-muted smoothscroll" href="{{site.baseurl}}/categories.html#cycling">Cycling</a><span class="sep">, </span>
		{% endfor %}
		</span>

    {% for category in site.categories %} 
        <h4 class="font-weight-bold spanborder text-capitalize" id="cycling"><span>cycling</span></h4>

<!--<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
        <h1 class="font-weight-bold title h6 text-uppercase mb-4">Categories</h1>
            
        {% for category in site.categories %} 
        <h4 class="font-weight-bold spanborder text-capitalize" id="cycling"><span>{{ category[0] }}</span></h4>
            
        {% assign pages_list = category[1] %}
        {% for post in pages_list %}
        {% if post.title != null %}
          {% if group == null or group == post.group %}
         
            {% include main-loop-card.html %}
          {% endif %}
        {% endif %}
        {% endfor %}
        {% assign pages_list = nil %}
        {% assign group = nil %}

        {% endfor %}

        </div>
        
            <div class="col-md-4">
        {% include sidebar-featured.html %}    
    </div>
        
    </div>
</div>