---
title: "Gear Reviews"
layout: default
permalink: "/gear-reviews.html"
---

<div class="container">

<div class="page-content">
   
  <div class="col-md-8 main-loop">
      
      <h4 class="font-weight-bold spanborder"><span>Gear Reviews</span></h4>
      <h5 class="pt-0 pb-0 mt-3 mb-2rem position-relative"><span style="font-weight: 10;">Here are a few articles on the gear that I've personally used, none of which have affiliate links or strings attached. Kind of a whiner when it comes to my expectations, especially when you spend $300 on a sleeping bag that rips.</span></h5>
      <span style="display:inline-block; width: 10px;"></span>
    <ul>
    {% for post in site.posts %}
      {% if post.categories contains 'Cycling' %}
        {% if post.categories contains 'Fun' %}
        <div class="mb-5 d-flex justify-content-between main-loop-card">
          <div class="pr-3">
            <h2 class="mb-1 h4 font-weight-bold">
            <a class="text-dark" href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a>
            </h2>
            <p class="excerpt">
               {{ post.excerpt  | strip_html | strip_newlines | truncate: 186}}
            </p>
            <small class="d-block text-muted">
              In <span class="catlist">
              {% for category in post.categories %}
              <a class="text-capitalize text-muted smoothscroll" href="{{site.baseurl}}/categories.html#{{ category | downcase }}">{{ category }}</a><span class="sep">, </span>
              {% endfor %}
              </span>
            </small>
            <small class="text-muted">
              {{ post.date | date: '%b %d, %Y' }}
            </small>
          </div>
          {% if post.image %}
            <div class="col-md-3 pr-0 text-right">
            <a href="{{site.baseurl}}{{post.url}}">
            <img class="w-100" src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}" alt="{{ post.title }}">
            </a>
            </div>
          {% endif %}
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}
    </ul>

  </div>



</div>